body {
    background-color: #262626;
    color: #ffffff;
    margin: 0;
}

#topBar {
    position: fixed;
    display: grid;
    width: 100vw;
    grid-template-columns: 20% 60% 10% 10%;
    border-bottom: 2px solid #ffffff;
    background-color: #262626;
    z-index: 11;
}

#title {
    font: 5vh BowlbyOne;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60vw;
    grid-column: 2;
    height: 10vh;
}

#topButtons {
    width: 10vw;
    grid-column: 4;
}

#homeButton {
    display: block;
    float: right;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48' width='48'%3E%3Cpath d='M9.85 40.15v-16h-6.2L24 5.8l9.85 8.75v-5.7h4.3v9.65l6.2 5.6h-6.2v16.05H28.3V28.2h-8.6v11.95Zm9.85-20.4h8.6q0-1.7-1.275-2.825Q25.75 15.8 24 15.8t-3.025 1.125Q19.7 18.05 19.7 19.75Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 2vh;
    width: 6vh;
    height: 6vh;
    filter: brightness(0) invert();
}

#mainContainer {
    position: absolute;
    height: 90vh;
    left: 0;
    top: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
}

.shortForm {
    height: 7vh;
    width: calc((50vw - 2vh - 4px) / 2);
    border: 1px solid #ff0000;
    background-color: #262626;
    color: #ffffff;
    font: 2.5vh Rubik-Light;
    border-radius: 10px;
    text-align: center;
    margin: 1vh;
    box-sizing: border-box;
}
.longForm {
    height: 18vh;
    width: 50vw;
    border: 1px solid #ff0000;
    background-color: #262626;
    color: #ffffff;
    font: 2.5vh Rubik-Light;
    border-radius: 10px;
    padding-left: 10px;
    margin: 1vh;
    box-sizing: border-box;
    padding: 3vh;
}

#formBottom {
    width: 50vw;
    display: grid;
    grid-template-columns: 1fr 15vh 1fr;
}

#submitButton {
    background: #262626;
    font: 2.5vh Rubik-Light;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 1vh 2vh;
    cursor: pointer;
    box-sizing: border-box;
    grid-column: 2;
    width: 15vh;
    height: 6vh;
    margin: 2vh 0;
}
#submitButton:hover {
    border-color: #bbbbbb;
    color: #bbbbbb;
}
#submitButton:disabled {
    border-color: #666666;
    color: #666666;
    cursor: default;
}

#submissionInfo {
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 2vh;
    font: 3vh Rubik-Light;
    text-align: right;
    grid-column: 3;
    width: 100%;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 2s;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.choice {
    display: grid;
    border-radius: 12px;
    border: 2px solid #ffffff;
    cursor: pointer;
    grid-template-rows: 10% 50% 1% 11% 28%;
    grid-template-columns: 10% 80% 10%;
    width: 28vw;
    height: calc(90vh * 0.88);
    margin: 0 auto;
}

.imageCenterer {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    grid-row: 2;
    grid-column: 2;
}

.choiceImageContainer {
    width: min(calc(90vh * 0.88 * 0.5), calc(28vw * 0.8));
    height: min(calc(90vh * 0.88 * 0.5), calc(28vw * 0.8));
}

.choiceImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.choiceName {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-row: 4;
    grid-column: 2;
    font: 3vh Rubik-Medium;
}

.choiceBlurb {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-row: 5;
    grid-column: 2;
    font: 2.5vh Rubik-Light;
}

@font-face {
    font-family: "BowlbyOne";
    src: url("../assets/BowlbyOne.ttf");
}

@font-face {
    font-family: "Rubik-Light";
    src: url("../assets/Rubik-Light.ttf");
}

@font-face {
    font-family: "Rubik-Medium";
    src: url("../assets/Rubik-Medium.ttf");
}

.walkingGoat {
    height: 5vh;
    width: 5vh;
    position: absolute;
    z-index: 100;
}

@media all and (max-width: 700px) {
    #title {
        font: 7vw BowlbyOne;
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100vw - 10vh);
        grid-column: 2;
        height: 10vh;
    }
    #topBar {
        display: flex;
    }
    #topButtons {
        width: 10vh;
    }
    #topButtons > a {
        display: block;
        float: right;
        background-repeat: no-repeat no-repeat;
        background-position: center center;
        background-size: cover;
        margin: 2vh min(2vh, calc((40vw - 12vh) / 4));
        width: 6vh;
        height: 6vh;
        filter: brightness(0) invert();
    }
    #mainContainer {
        display: none;
    }
    .mobileOnly {
        position: absolute;
        height: 90vh;
        left: 0;
        top: 10vh;
        width: 100vw;
    }
    .mobileOnlyText {
        font: 3vh Rubik-Light;
        text-align: center;
    }
}
